.videoPlayerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  height: 100vh; /* Full viewport height */
}

.playerWrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 20px;
}

.playerWrapper > div {
  position: absolute;
  top: 0;
  left: 0;
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.button {
  padding: 10px;
  background-color: transparent;
  color: #0070f3;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Adjust icon size */
}

.button:hover {
  color: #005bb5;
}

.playlistInfo {
  font-size: 16px;
  color: #ffffff; /* Set font color to white */
  position: relative;
  z-index: 1; /* Ensure it displays above the background overlay */
  font-weight: bold; /* Làm đậm chữ */
}

.volumeSlider {
  width: 100px;
  cursor: pointer;
}
